body{

background:#eef2f7;

font-family:Segoe UI, sans-serif;

}

h1{

font-weight:700;

color:#0d6efd;

}

.subtitle{

color:gray;

margin-bottom:40px;

}

.card{

border:none;

border-radius:15px;

transition:0.3s;

}

.card:hover{

transform:translateY(-5px);

box-shadow:0 10px 25px rgba(0,0,0,.15);

}

.badge{

font-size:14px;

padding:8px 12px;

margin-right:5px;

}

.btn{

border-radius:10px;

}

.input-group input{

height:55px;

font-size:18px;

}

.input-group button{

width:120px;

font-weight:bold;

}